{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %}Alancienne-Test{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	
</head>
<body>
	<div id="header">
		<a href="{% url 'product_create' %}" class="logo"><h2>Alancienne</h2></a>
	</div>
	<div id="subheader">
		<div class="cart">
			<a href="{% url 'cart' %}">
				Voir Panier
			</a>
		</div>
	</div>
	{% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
             {{ message|safe }}
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			 </button>
         </div>
     {% endfor %}
 	{% endif %}
	<div id="content">
		{% block content %}
		{% endblock content%}
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>